body {
    background-color: rgb(0,0,0);
    margin: 0;
    user-select: none;
}
#timer-container {
    position: absolute;
    height: 250px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#time {
    color: white;
    font-family: 'Share Tech Mono';
    font-size: 96;
    text-align: center;
    flex-direction: column;
    margin: 0;
}
#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#github {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.button2 {
    color: #12e397;
    font-family: 'Share Tech Mono';
    border-radius: 10000px;
    font-size: 28;
    border: 2px solid #12e397;
    display: inline-block;
    text-align: center;
    padding: 5px 30px;
    margin: 10px;
    background-color: transparent;
    transition: 0.25s all;
    text-decoration: none;
}
.button2:hover {
    color: white;
    background-color: #12e397;
    cursor: pointer;
}
#modeIcon {
    font-size: 30px;
    color: #12e397;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 20px;
    margin: 10px;
    border: 2px solid #12e397;
    border-radius: 10000px;
    background-color: transparent;
}
#modeIcon:hover{
    background-color: #12e397;
    color: white;
    cursor: pointer;
    transition: 0.25s all;
}